<div>
    <!--block-->hello&nbsp;<span
        data-trix-cursor-target="left"
        data-trix-serialize="false"
    >
    </span>
    <figure
        data-trix-attachment='{"contentType":"application/pdf","filename":"The Art of Intrusion -  Real Stories.pdf","filesize":3216746}'
        data-trix-content-type="application/pdf"
        data-trix-id="3029"
        data-trix-serialize="false"
        class="attachment attachment--file attachment--pdf"
        contenteditable="false"
    >
        <figcaption class="attachment__caption">
            <span class="attachment__name"
                >The Art of Intrusion - Real Stories.pdf</span
            >
            <span class="attachment__size">3.07 MB</span>
        </figcaption>
        <progress
            class="attachment__progress"
            value="0"
            max="100"
            data-trix-mutable="true"
            data-trix-store-key="progressElement/3029"
        ></progress>
    </figure>
    <span data-trix-cursor-target="right" data-trix-serialize="false"> </span>
</div>
